<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
    .message {
      margin-bottom: 10px;
    }

    .message .username {
      font-weight: bold;
    }

    .message .time {
      font-size: 12px;
      color: #888;
    }
  </style>
</head>
<body>
  <div id="chat">
    <ul id="messages"></ul>
    <input id="inputMessage" type="text" placeholder="Digite sua mensagem" autocomplete="off" />
    <button id="sendButton">Enviar</button>
  </div>

  <script>
    // Conexão com o servidor SocketIO
    var socket = io.connect();

    // Evento para quando o cliente se conecta
    socket.on('connect', function() {
      var username = prompt('Digite seu nome de usuário:');
      socket.emit('user_connected', { username: username }); // Envia o nome de usuário para o servidor
    });

    // Evento para quando o servidor envia uma mensagem
    socket.on('message', function(data) {
      var message = $('<li class="message">');
      var usernameElement = $('<span class="username">').text(data.username);
      var content = $('<span>').text(': ' + data.message);
      var time = $('<span class="time">').text(getCurrentTime());

      message.append(usernameElement, content, time);
      $('#messages').append(message);
    });

    // Evento para quando o servidor informa que um usuário se conectou
    socket.on('user_connected', function(data) {
      $('#messages').append($('<li>').text(data.username + ' entrou no chat'));
    });

    // Evento para quando o servidor informa que um usuário se desconectou
    socket.on('user_disconnected', function(data) {
      $('#messages').append($('<li>').text(data.username + ' saiu do chat'));
    });

    // Envia a mensagem digitada para o servidor
    $('#sendButton').click(function() {
      var message = $('#inputMessage').val();
      socket.emit('message', { username: getUsername(), message: message }); // Inclui o nome de usuário ao enviar a mensagem
      $('#inputMessage').val('');
    });

    // Envia a mensagem ao pressionar Enter
    $('#inputMessage').keypress(function(e) {
      if (e.which === 13) {
        var message = $('#inputMessage').val();
        socket.emit('message', { username: getUsername(), message: message }); // Inclui o nome de usuário ao enviar a mensagem
        $('#inputMessage').val('');
      }
    });

    // Função auxiliar para obter a hora atual no formato HH:MM
    function getCurrentTime() {
      var now = new Date();
      var hours = now.getHours().toString().padStart(2, '0');
      var minutes = now.getMinutes().toString().padStart(2, '0');
      return hours + ':' + minutes;
    }

    // Função auxiliar para obter o nome de usuário
    function getUsername() {
      return prompt('Digite seu nome de usuário:');
    }
  </script>
</body>
</html>